@keyframes rotate-around-planet {
    0% {
        bottom: calc(50% - 5px);
        left: -5px;
        z-index: 4;
    }
    5.55555555556% {
        bottom: calc(25% - 5px);
        left: calc(5% - 5px);
        z-index: 4;
    }
    11.805111111119999% {
        bottom: calc(5% - 5px);
        left: calc(30% - 5px);
        z-index: 4;
    }
    17.360666666679997% {
        bottom: -5px;
        left: calc(40% - 5px);
        z-index: 4;
    }
    23.610222222239994% {
        bottom: -5px;
        left: calc(50% - 5px);
        z-index: 4;
    }
    29.165777777799995% {
        bottom: -5px;
        left: calc(60% - 5px);
        z-index: 4;
    }
    35.415333333359996% {
        bottom: calc(5% - 5px);
        left: calc(70% - 5px);
        z-index: 4;
    }
    40.970888888919994% {
        bottom: calc(25% - 5px);
        left: calc(95% - 5px);
        z-index: 4;
    }
    47.220444444479995% {
        bottom: calc(50% - 5px);
        left: calc(100% - 5px);
        z-index: 4;
    }
    52.77600000003999% {
        bottom: calc(75% - 5px);
        left: calc(95% - 5px);
        z-index: 4;
    }
    59.02555555559999% {
        bottom: calc(95% - 5px);
        left: calc(70% - 5px);
        z-index: 1;
    }
    64.58111111116% {
        bottom: calc(100% - 5px);
        left: calc(60% - 5px);
        z-index: 1;
    }
    70.83066666672% {
        bottom: calc(100% - 5px);
        left: calc(60% - 5px);
        z-index: 1;
    }
    76.38622222228001% {
        bottom: calc(100% - 5px);
        left: calc(50% - 5px);
        z-index: 1;
    }
    82.63577777784002% {
        bottom: calc(100% - 5px);
        left: calc(40% - 5px);
        z-index: 1;
    }
    88.19133333340002% {
        bottom: calc(95% - 5px);
        left: calc(30% - 5px);
        z-index: 1;
    }
    94.44088888896003% {
        bottom: calc(75% - 5px);
        left: calc(5% - 5px);
        z-index: 4;
    }
    100% {
        bottom: calc(75% - 5px);
        left: -5px;
        z-index: 4;
    }
}

#satellite-around-planet {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    box-shadow: inset 0px 0px 250px 0 #001f3f;
    border-radius: 50%;
}

#orbit-back {
    position: absolute;
    width: 175px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    top: calc(50% - 15px);
    left: calc(50% - 87.5px);
}

#planet {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: rgb(78, 187, 255);
    box-shadow: 0px 0px 15px 5px rgb(154, 216, 255);
    border-radius: 50%;
    top: calc(50% - 40px);
    z-index: 2;
}

#orbit-front {
    position: absolute;
    width: 175px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    top: calc(50% - 15px);
    left: calc(50% - 87.5px);
    z-index: 3;
}

#satellite {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    bottom: calc(50% - 5px);
    left: -5px;
    animation: rotate-around-planet linear infinite;
    animation-duration: 6s;
    z-index: 4;
}